.link_voucher:hover{
   background-color:#d88821;
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
.item{
    box-shadow: 0px 0px 4px 0px #9b9191;
    // width: calc(100% - 10px) ;
    // margin: 0 1em;
}
.voucher_title{
    display: -webkit-box;
    max-height: 3.2rem;
   -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    line-height: 1.6rem;
}